<div class="footer-02">
    <div class = "container" style="display: flex;justify-content: center;padding-bottom: 3em;color: white;border-bottom: 1px solid rgba(255,255,255,0.3);">
      <div class = "footer-02__wrapper" style="flex-direction: column;"> 
          <div class="footer-02__text">write to us:</div>
          <div class="footer-02__text" style="color: white;font-size: 20px;">info@viralpixel.studio</div>
      </div>
    </div>
    <div class="container" style = "padding-top: 10px;">
      <div class="footer-02__wrapper">
        <div class="footer-02__text">&copy; 2018&nbsp;<a class="footer-02__link" href="javascript:void(0);">Viral Pixel</a>.
          All rights reserved.
        </div>
        <div class="social-buttons">
          <ul class="social-buttons__list">
            <li class="social-buttons__item"><a rel="noreferrer" class="social-buttons__link" href="https://www.facebook.com/viralpixel.studio/" target="_blank"><img class="social-buttons__icon" src="img/icons/social/white/facebook.svg"/></a></li>
            <li class="social-buttons__item"><a rel="noreferrer" class="social-buttons__link" href="http://instagram.com/viralpixel.studio" target="_blank"><img class="social-buttons__icon" src="img/icons/social/white/instagram.svg"/></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>