<%- include('layout') -%>
<body>
   
    
<!-- START OF: Header 23 =====-->
<%- include('navbar') -%>
  <!-- ===== END OF: Nav 2-->
  <div class="container container--large header-23__container">
    <div class="header-23__left">
      <div class="header-23__left_content">
        <h1 class="heading heading--accent header-23__heading">Reach Deeper with an Outstanding Website</h1>
        <p class="header-23__text">Unicorn Platform is a powerful website builder for startups, solo-entrepreneurs and hackers. Try it for free.</p>
        <div class="header-23__cta_box">
          <div class="buttons-set">
            <ul class="buttons-set__list">
              <li class="buttons-set__item"><a class="button   button--alt-accent-bg " href="javascript:void(0);" target=""><span>Sign Up</span></a>
              </li>
              <li class="buttons-set__item">
                  <button class="button js-scroll-down button--white-bg " type="submit"><span class="button__text">Learn More</span>
                  </button>
              </li>
            </ul>
            <div class="buttons-set__info">Instant sign up. No credit card required.</div>
          </div>
        </div>
      </div>
    </div>
    <div class="header-23__right"><img class="header-23__img" src="/img/whitematte.png"/></div>
  </div>
</header>
<!-- ===== END OF: Header 23-->
<!-- START OF: Header 39 =====-->
<header class="header-39">
  <!-- START OF: Nav 2 =====-->
  <!-- ===== END OF: Nav 2-->
  <div class="container container--mid header-39__container">
    <div class="header-39__text_box">
      <h2 class="heading">Generate a Stunning Landing Page for Your Startup</h2>
      <p>Fortiss volare in bassus antverpia! Cur zirbus cadunt? Cum verpa peregrinationes, omnes clabularees resuscitabo bi-color, fatalis coordinataees.</p>
    </div>
    <div class="header-39__video">
      <iframe src="https://www.youtube.com/embed/tj6B489H_zg?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen=""></iframe>
      <div class="spinner"></div>
    </div>
  </div>
</header>
<!-- ===== END OF: Header 39-->
<!-- START OF: Pricing 03 =====-->
<div class="pricing-03">
  <div class="pricing-03__container container container--large">
    <div class="pricing-03__wrapper">
      <div class="pricing-03__info">
        <h1 class="heading">Complex analysis</h1>
        <div class="pricing-03__info_text">
          <p>We analyze our client's needs, his tasks and we will provide him the best platform model.</p>
          <p>Landing page, online shop or virtual business card. Our team will provide the best digital solution for your business.</p>
        </div>
      </div>
      <div class="pricing-03__illustration js-toggle-animation" title="Release sunlight"><img class="pricing-03__main_img" src="img/emoji/cloud.png"/><img class="pricing-03__secondary_img" src="img/emoji/sun.png"/></div>
      <div class="pricing-03__price">
        <div class="pricing-03__price_bottom">
          <ul class="pricing-03__benefits_list">
            <li class="pricing-03__benefit"><img class="pricing-03__benefit_icon" src="img/icons/checked--acid.svg"/>
              <div class="pricing-03__benefit_text">Client's business model</div>
            </li>
            <li class="pricing-03__benefit"><img class="pricing-03__benefit_icon" src="img/icons/checked--acid.svg"/>
              <div class="pricing-03__benefit_text">Data analysis</div>
            </li>
            <li class="pricing-03__benefit"><img class="pricing-03__benefit_icon" src="img/icons/checked--acid.svg"/>
              <div class="pricing-03__benefit_text">Target audience analysis</div>
            </li>
          </ul>
        </div>
      </div>
    </div><img class="pricing-03__decoration" src="img/other/grid.png"/>
  </div>
</div>
<!-- ===== END OF: Pricing 03-->
<!-- START OF: Pricing 03 =====-->
<div class="pricing-03">
  <div class="pricing-03__container container container--large">
    <div class="pricing-03__wrapper">
      <div class="pricing-03__info">
        <h1 class="heading">Design</h1>
        <div class="pricing-03__info_text">
          <p>We will pick the color and fonts scheme</p>
          <p>After what we will create the design mockup and wireframes.</p>
        </div>
      </div>
      <div class="pricing-03__illustration js-toggle-animation" title="Release sunlight"><img class="pricing-03__main_img" src="img/emoji/cloud.png"/><img class="pricing-03__secondary_img" src="img/emoji/sun.png"/></div>
      <div class="pricing-03__price">
        <div class="pricing-03__price_bottom">
          <ul class="pricing-03__benefits_list">
            <li class="pricing-03__benefit"><img class="pricing-03__benefit_icon" src="img/icons/checked--acid.svg"/>
              <div class="pricing-03__benefit_text">Gathering and implementing the content</div>
            </li>
            <li class="pricing-03__benefit"><img class="pricing-03__benefit_icon" src="img/icons/checked--acid.svg"/>
              <div class="pricing-03__benefit_text">Wireframes</div>
            </li>
            <li class="pricing-03__benefit"><img class="pricing-03__benefit_icon" src="img/icons/checked--acid.svg"/>
              <div class="pricing-03__benefit_text">Design mockups</div>
            </li>
          </ul>
        </div>
      </div>
    </div><img class="pricing-03__decoration" src="img/other/grid.png"/>
  </div>
</div>
<!-- ===== END OF: Pricing 03-->
<!-- START OF: Pricing 03 =====-->
<div class="pricing-03">
  <div class="pricing-03__container container container--large">
    <div class="pricing-03__wrapper">
      <div class="pricing-03__info">
        <h1 class="heading">Development</h1>
        <div class="pricing-03__info_text">
          <p>At this stage we will start developing and implementing the website logic.</p>
          <p>We will create all the pages with the already defined design.</p>
        </div>
      </div>
      <div class="pricing-03__illustration js-toggle-animation" title="Release sunlight"><img class="pricing-03__main_img" src="img/emoji/cloud.png"/><img class="pricing-03__secondary_img" src="img/emoji/sun.png"/></div>
      <div class="pricing-03__price">
        <div class="pricing-03__price_bottom">
          <ul class="pricing-03__benefits_list">
            <li class="pricing-03__benefit"><img class="pricing-03__benefit_icon" src="img/icons/checked--acid.svg"/>
              <div class="pricing-03__benefit_text">Quality Assurance Testing</div>
            </li>
            <li class="pricing-03__benefit"><img class="pricing-03__benefit_icon" src="img/icons/checked--acid.svg"/>
              <div class="pricing-03__benefit_text">Logic implementation</div>
            </li>
            <li class="pricing-03__benefit"><img class="pricing-03__benefit_icon" src="img/icons/checked--acid.svg"/>
              <div class="pricing-03__benefit_text">Testing on desktops, laptops, tablets and smartphones.</div>
            </li>
          </ul>
        </div>
      </div>
    </div><img class="pricing-03__decoration" src="img/other/grid.png"/>
  </div>
</div>
<!-- ===== END OF: Pricing 03-->
<!-- START OF: Header 28 =====-->
<!-- ===== END OF: Header 28-->
    <!-- This is the root element of the image gallery plugin - PhotoSwipe (https://github.com/dimsemenov/PhotoSwipe)-->
    <!-- Do not delete it.-->
    <!-- It's invisible to user.-->
    <div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="pswp__bg"></div>
      <div class="pswp__scroll-wrap">
        <div class="pswp__container">
          <div class="pswp__item"></div>
          <div class="pswp__item"></div>
          <div class="pswp__item"></div>
        </div>
        <div class="pswp__ui pswp__ui--hidden">
          <div class="pswp__top-bar">
            <div class="pswp__counter"></div>
            <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>
            <button class="pswp__button pswp__button--share" title="Share"></button>
            <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>
            <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>
            <div class="pswp__preloader">
              <div class="pswp__preloader__icn">
                <div class="pswp__preloader__cut">
                  <div class="pswp__preloader__donut"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
            <div class="pswp__share-tooltip"></div>
          </div>
          <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)"></button>
          <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)"></button>
          <div class="pswp__caption">
            <div class="pswp__caption__center"></div>
          </div>
        </div>
      </div>
    </div>
    <%- include('footer') -%>
</body>
