<%- include('layout') -%>
<body style = "overflow-x: hidden;">
<!-- START OF: Header 23 =====-->
<%- include('navbar') -%>
  <!-- ===== END OF: Nav 2-->
  <div class="container container--large header-23__container">
    <div class="header-23__left">
      <div class="header-23__left_content">
        <h1 class="heading heading--accent header-23__heading">See how the magic happens</h1>
        <p class="header-23__text">We'll define your product: specifications and features, user flows and scenarios, along with all the technology implecations these bring.</p>
        <div class="header-23__cta_box">
        </div>
      </div>
    </div>
    <div class="header-23__right"><img class="header-23__img" src="/img/whitematte.png"/></div>
  </div>
</header>
<!-- ===== END OF: Header 23-->
<!-- START OF: Header 39 =====-->
<header class="header-39">
  <!-- START OF: Nav 2 =====-->
  <!-- ===== END OF: Nav 2-->
  <div class="container container--mid header-39__container" style = "z-index: -50;">
    <div class="header-39__text_box">
      <h2 class="heading">A website is your product's online face</h2>
      <p>Our team is specialized in finding digital solutions for your product: from selling your product to creating your online image.</p>
      <div id = "img-howTo" style="    position: relative;left: -8%;">
        <img src = "/img/iphone_safari.png"/>
        <img src = "/img/howWorkLaptop.png" style = "margin-top: 5em; max-width: unset; max-height: 500px;"/>
        <img src = "/img/tablet.png" style = "margin-top: 5em; max-width: unset; max-height: 500px; position: relative; left: -100%;" />
      </div>
    </div>
    <div>
      
    </div>
  </div>
</header>
<!-- ===== END OF: Header 39-->
<!-- START OF: Pricing 03 =====-->
<div class = "container container--large header-23__container">
<section class="cd-timeline js-cd-timeline" style = "z-index: 500;">
  <div class="cd-timeline__container">
    <div class="cd-timeline__block js-cd-block">
      <div class="cd-timeline__img cd-timeline__img--picture js-cd-img">
        <!-- <img src="img/cd-icon-picture.svg" alt="Picture"> -->
      </div> <!-- cd-timeline__img -->

      <div class="cd-timeline__content js-cd-content">
        <h2>Product discovery</h2>
        <p>We will perform a complex analysis of the product, your goals, your business model and create the best digital solution for your needs.</p>
      </div> <!-- cd-timeline__content -->
    </div> <!-- cd-timeline__block -->

    <div class="cd-timeline__block js-cd-block">
      <div class="cd-timeline__img cd-timeline__img--movie js-cd-img">
      </div> <!-- cd-timeline__img -->

      <div class="cd-timeline__content js-cd-content">
        <h2>Website skeleton</h2>
        <p>We gather information(texts) from the client. We develop the website skeleton after what we will create an interactive online prototype for the client.</p>
        <!-- <span class="cd-timeline__date">Jan 18</span> -->
      </div> <!-- cd-timeline__content -->
    </div> <!-- cd-timeline__block -->

    <div class="cd-timeline__block js-cd-block">
      <div class="cd-timeline__img cd-timeline__img--picture js-cd-img">
      </div> <!-- cd-timeline__img -->

      <div class="cd-timeline__content js-cd-content">
        <h2>Design</h2>
        <p>At this stage we will pick the color scheme and fonts for the product and add them to the online prototype.</p>
        <!-- <span class="cd-timeline__date">Jan 24</span> -->
      </div> <!-- cd-timeline__content -->
    </div> <!-- cd-timeline__block -->

    <div class="cd-timeline__block js-cd-block">
      <div class="cd-timeline__img cd-timeline__img--location js-cd-img">
      </div> <!-- cd-timeline__img -->

      <div class="cd-timeline__content js-cd-content">
        <h2>Responsive</h2>
        <p>All of our websites are adapted to any device, be it a mobile, tablet, laptop or desktop.</p>
        <!-- <span class="cd-timeline__date">Feb 14</span> -->
      </div> <!-- cd-timeline__content -->
    </div> <!-- cd-timeline__block -->

    <div class="cd-timeline__block js-cd-block">
      <div class="cd-timeline__img cd-timeline__img--location js-cd-img">
        
      </div> <!-- cd-timeline__img -->

      <div class="cd-timeline__content js-cd-content">
        <h2>Logic implementation</h2>
        <p>We create the needed pages using the already defined design using the best code practices all in order for your website to be fast and functional.</p>
      </div> <!-- cd-timeline__content -->
    </div> <!-- cd-timeline__block -->

    <div class="cd-timeline__block js-cd-block">
      <div class="cd-timeline__img cd-timeline__img--movie js-cd-img">
      </div> <!-- cd-timeline__img -->

      <div class="cd-timeline__content js-cd-content">
        <h2>LIVE</h2>
        <p>After we test the website for any vulnerabilites and design bugs, we will get it live.</p>
        <!-- <span class="cd-timeline__date">Feb 26</span> -->
      </div> <!-- cd-timeline__content -->
    </div> <!-- cd-timeline__block -->
  </div>
</section> <!-- cd-timeline -->
</div>
    <%- include('footer') -%>
    <script>
    (function(){
	function VerticalTimeline( element ) {
		this.element = element;
		this.blocks = this.element.getElementsByClassName("js-cd-block");
		this.images = this.element.getElementsByClassName("js-cd-img");
		this.contents = this.element.getElementsByClassName("js-cd-content");
		this.offset = 0.8;
		this.hideBlocks();
	};

	VerticalTimeline.prototype.hideBlocks = function() {
		//hide timeline blocks which are outside the viewport
		if ( !"classList" in document.documentElement ) {
			return;
		}
		var self = this;
		for( var i = 0; i < this.blocks.length; i++) {
			(function(i){
				if( self.blocks[i].getBoundingClientRect().top > window.innerHeight*self.offset ) {
					self.images[i].classList.add("cd-is-hidden"); 
					self.contents[i].classList.add("cd-is-hidden"); 
				}
			})(i);
		}
	};

	VerticalTimeline.prototype.showBlocks = function() {
		if ( ! "classList" in document.documentElement ) {
			return;
		}
		var self = this;
		for( var i = 0; i < this.blocks.length; i++) {
			(function(i){
				if( self.contents[i].classList.contains("cd-is-hidden") && self.blocks[i].getBoundingClientRect().top <= window.innerHeight*self.offset ) {
					// add bounce-in animation
					self.images[i].classList.add("cd-timeline__img--bounce-in");
					self.contents[i].classList.add("cd-timeline__content--bounce-in");
					self.images[i].classList.remove("cd-is-hidden");
					self.contents[i].classList.remove("cd-is-hidden");
				}
			})(i);
		}
	};

	var verticalTimelines = document.getElementsByClassName("js-cd-timeline"),
		verticalTimelinesArray = [],
		scrolling = false;
	if( verticalTimelines.length > 0 ) {
		for( var i = 0; i < verticalTimelines.length; i++) {
			(function(i){
				verticalTimelinesArray.push(new VerticalTimeline(verticalTimelines[i]));
			})(i);
		}

		//show timeline blocks on scrolling
		window.addEventListener("scroll", function(event) {
			if( !scrolling ) {
				scrolling = true;
				(!window.requestAnimationFrame) ? setTimeout(checkTimelineScroll, 250) : window.requestAnimationFrame(checkTimelineScroll);
			}
		});
	}

	function checkTimelineScroll() {
		verticalTimelinesArray.forEach(function(timeline){
			timeline.showBlocks();
		});
		scrolling = false;
	};
})();
    </script>
</body>
