<nav class="nav-02">
    <div class="container container--large">
      <div class="nav-02__box">
        <div class="nav-02__logo"><a class="nav-02__link" href="javascript:void(0);" target="_blank">
            <!--You can use image logo:--><img class="nav-02__logo_img" src="img/newViralLogo.png" alt="Logo"/>
            <!--Or uncomment this <span> to have a word-logo.-->
            <!--span.nav-02__logo_text.white-text
            | Unicorn
            
            --></a></div>
        <button class = "open-nav-menu"><i class="fa fa-angle-left" style="font-size:25px"></i></button>
        <button class = "burger-close"></button>
        <div class="nav-02__links js-menu">
          <ul class="nav-02__list">
            <li class="nav-02__item"><a id = "whatWeDoButton" class="button   button--black-outline  button--empty " href="javascript:void(0);" target="_blank"><span>What we do</span></a>
            </li>
            <li class="nav-02__item"><a id = "faqButton"  class = "button   button--black-outline  button--empty " href="javascript:void(0);" target="_blank"><span>FAQ</span></a>
            </li>
            <li class="nav-02__item"><a id = "contactUsButton" class="button   button--black-outline  button--empty " href="javascript:void(0);" target="_blank"><span>Contact us</span></a>
            </li>
          </ul>
          <!-- <div class="nav-02__burger">
            <button class="burger burger--black js-open-menu" type="button">
              <div class="burger__box">
                <div class="burger__inner">
                </div>
              </div>
            </button>
          </div> -->
        </div>
      </div>
    </div>
  </nav>